#status_list {
	position: absolute;
	left   : 17%;
	bottom : 1.2%;
	width  : 14.5%;
	opacity: 0.5;
}

.status {
	padding: 1px;
	margin: 0.3em;
}

.status_inner {
	padding: 1px;
}

.status_val {
	height : 0.5em;
}